//overwrite
$btn-padding-x: 1.8rem;
$btn-padding-x-lg: 2rem;
$btn-padding-x-sm: 1.5rem;
$font-size-base: .8rem;
$input-focus-width: 0;
$enable-shadows: false;
$btn-active-box-shadow: none !important;
$btn-box-shadow: none;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1366px
);
